---
import Layout from "../layouts/Layout.astro";
import Component from "../components/Component.astro";
import Experience from "../components/experience/index.astro";
import { EXPERIENCE } from "../data/experience";
import { SOCIALS } from "../data/socials";
---

<Layout title="Sayeda Saima">
  <div class="relative hero z-10">
    <div class="mx-auto min-h-screen max-w-screen-2xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0">
      <div class="lg:flex lg:justify-between lg:gap-4">
        <header class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24">
          <div class="flex lg:items-start gap-4 flex-col lg:flex-row items-center text-center lg:text-left">
            <img src="/avatar.webp" alt="Sayeda Saima" class="w-20 h-20 rounded-full" />
            <div>
              <a href="/" class="text-4xl lg:text-5xl block font-bold tracking-tight bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50">
                <h1>Sayeda Saima</h1>
              </a>
              <h2 class="mt-2 text-sm lg:text-lg font-medium text-neutral-400">
                Développeur JavaScript FullStack 
              </h2>
              <a
                data-ccursor
                href="mailto:sayedasaimaa786@gmail.com"
                class="inline-flex transition-all border-neutral-700 hover:border-opacity-0 border-opacity-50 shadow rounded-md border backdrop-blur-xl bg-neutral-400/10 px-3 py-2.5 items-center text-white font-semibold group p-2 text-sm gap-x-2 mt-4"
              >
                <span>Contactez moi</span>
                <span class="w-2 h-2 rounded-full bg-green-400 duration-1000 animate-pulse"></span>
              </a>
              <!-- Link to the about page -->
              <a href="/about" class="inline-flex transition-all border-neutral-700 hover:border-opacity-0 border-opacity-50 shadow rounded-md border backdrop-blur-xl bg-neutral-400/10 px-3 py-2.5 items-center text-white font-semibold group p-2 text-sm gap-x-2 mt-4">
                <span>À propos de moi</span>
              </a>
            </div>
          </div>
          {SOCIALS.length && (
            <ul class="mt-8 flex items-center justify-center lg:justify-normal gap-x-5" aria-label="Social media">
              {SOCIALS.map((social) => (
                <li class="text-xs p-2 rounded" data-ccursor>
                  <a class="block hover:text-slate-200" href={social.url} target="_blank" rel="noreferrer noopener" aria-label={`${social.name} (opens in a new tab)`}>
                    <span class="sr-only">{social.name}</span>
                    {<Component component={social.icon} />}
                  </a>
                </li>
              ))}
            </ul>
          )}
        </header>
        <main id="content" class="pt-24 lg:w-1/2 lg:py-24">
          <section id="about" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="About me">
            <div class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
              <h2 class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only">About</h2>
            </div>
            <div>
              <div class="mb-1 space-y-4">
                <p>
                  Récemment formée en tant que développeuse Full Stack spécialisée dans les applications web et mobiles à Wild Code School à Paris. J'ai acquis une expertise en conception de solutions web évolutives, en développement frontend avec HTML, CSS, JavaScript (ES6+) et React.js, ainsi qu'en backend avec Node.js, Express.js et MySQL. Expérience en Git/GitHub et tests unitaires. Je suis passionnée par l'apprentissage continu et prête à relever de nouveaux défis dans le domaine du développement web.
                </p>
                <p>Prête à contribuer à des projets innovants.</p>
                
              </div>
            </div>

          </section>
          <section id="experience" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="Experience">
            <div class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
              <h2 class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only">Experience</h2>
            </div>
            <div>
              <ul class="group/list">
                {EXPERIENCE.map((experience) => (
                  <Experience {...experience} />
                ))}
              </ul>
              <!-- Resume Section -->
              <div class="mt-12">
                <a
                  data-ccursor
                  class="inline-flex items-center leading-tight text-neutral-200 font-semibold group p-2 rounded px-3"
                  aria-label="View Full Résumé"
                  target="_blank"
                  rel="noreferrer noopener"
                  href="./resume.pdf"
                >
                  <span>
                    <span class="border-b border-transparent pb-px transition group-hover:border-neutral-300 motion-reduce:transition-none">View Full</span>
                    <span class="whitespace-nowrap">
                      <span class="border-b border-transparent pb-px transition group-hover:border-neutral-300 motion-reduce:transition-none">Résumé</span>
                      <span aria-hidden="true" class="ml-1.5 inline-block translate-y-px transition-transform group-hover:translate-x-1 motion-reduce:transition-none">→</span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
  </div>
  <footer class="text-center py-4 text-xs">
    {new Date().getFullYear()} All rights reserved.
  </footer>
</Layout>
